<?xml version="1.0"?>
<!--
/**
 * Tweakwise & Emico (https://www.tweakwise.com/ & https://www.emico.nl/) - All Rights Reserved
 *
 * @copyright Copyright (c) 2017-2017 Tweakwise.com B.V. (https://www.tweakwise.com)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Frontend plugins -->
    <type name="Magento\Catalog\Model\Layer\FilterList">
        <plugin name="emico-tweakwise" type="Emico\Tweakwise\Model\Catalog\Layer\FilterList\Plugin" />
    </type>
    <type name="Emico\Tweakwise\Model\Catalog\Layer\FilterList\Plugin">
        <arguments>
            <argument name="tweakwiseFilterList" xsi:type="object">Emico\Tweakwise\Model\Catalog\Layer\FilterList\Tweakwise\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\LayeredNavigation\Block\Navigation\State">
        <plugin name="emico-tweakwise" type="Emico\Tweakwise\Block\LayeredNavigation\Navigation\State\Plugin" sortOrder="0" />
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="emico-tweakwise" type="Emico\Tweakwise\Block\Catalog\Product\ProductList\Toolbar\Plugin" sortOrder="0" />
    </type>
    <type name="Magento\Theme\Block\Html\Pager">
        <plugin name="emico-tweakwise" type="Emico\Tweakwise\Block\Theme\Html\Pager\Plugin" sortOrder="0" />
    </type>
    <type name="Magento\LayeredNavigation\Block\Navigation">
        <plugin name="emico-tweakwise" type="Emico\Tweakwise\Block\LayeredNavigation\Navigation\Plugin" sortOrder="0" />
    </type>
    <type name="Magento\LayeredNavigationStaging\Block\Navigation">
        <plugin name="emico-tweakwise" type="Emico\Tweakwise\Block\LayeredNavigation\Navigation\Plugin" sortOrder="0" />
    </type>
    <type name="Magento\LayeredNavigation\Block\Navigation\FilterRenderer">
        <plugin name="emico-tweakwise" type="Emico\Tweakwise\Block\Navigation\FilterRenderer\Plugin" sortOrder="0" />
    </type>
    <type name="Magento\Swatches\Block\LayeredNavigation\RenderLayered">
        <plugin name="emico-tweakwise" type="Emico\Tweakwise\Block\LayeredNavigation\RenderLayered\Plugin" sortOrder="0" />
    </type>
    <type name="Magento\TargetRule\Block\Catalog\Product\ProductList\Upsell">
        <plugin name="emico-tweakwise" type="Emico\Tweakwise\Block\TargetRule\Catalog\Product\ProductList\Plugin\Upsell" sortOrder="0" />
    </type>
    <type name="Magento\TargetRule\Block\Catalog\Product\ProductList\Related">
        <plugin name="emico-tweakwise" type="Emico\Tweakwise\Block\TargetRule\Catalog\Product\ProductList\Plugin\Related" sortOrder="0" />
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Upsell">
        <plugin name="emico-tweakwise" type="Emico\Tweakwise\Block\Catalog\Product\ProductList\Upsell\Plugin" sortOrder="0" />
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Related">
        <plugin name="emico-tweakwise" type="Emico\Tweakwise\Block\Catalog\Product\ProductList\Related\Plugin" sortOrder="0" />
    </type>
    <type name="Magento\Swatches\Helper\Data">
        <plugin name="emico-tweakwise" type="Emico\Tweakwise\Model\Swatches\Plugin" sortOrder="0" />
    </type>

    <type name="Magento\Search\Model\Autocomplete">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="10" xsi:type="object">Emico\Tweakwise\Model\Autocomplete\DataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Emico\Tweakwise\Model\Autocomplete\DataProvider">
        <arguments>
            <argument name="productItemFactory" xsi:type="object">Emico\Tweakwise\Model\Autocomplete\DataProvider\ProductItemFactory</argument>
            <argument name="queryFactory" xsi:type="object">Magento\Search\Model\QueryFactory</argument>
            <argument name="requestFactory" xsi:type="object">Emico\Tweakwise\Model\Client\RequestFactory\AutocompleteRequest</argument>
        </arguments>
    </type>

    <type name="Emico\Tweakwise\Model\Observer\CatalogSearchRedirect">
        <arguments>
            <argument name="config" xsi:type="object">Emico\Tweakwise\Model\Config</argument>
            <argument name="context" xsi:type="object">Emico\Tweakwise\Model\Catalog\Layer\NavigationContext\CurrentContext</argument>
            <argument name="actionContext" xsi:type="object">Magento\Framework\App\Action\Context</argument>
            <argument name="navigationContext" xsi:type="object">Emico\Tweakwise\Model\Catalog\Layer\NavigationContext\Search</argument>
        </arguments>
    </type>

    <!-- TW models -->
    <virtualType name="Emico\Tweakwise\Model\Catalog\Layer\NavigationContext\Category" type="Emico\Tweakwise\Model\Catalog\Layer\NavigationContext">
        <arguments>
            <argument name="requestFactory" xsi:type="object">Emico\Tweakwise\Model\Client\RequestFactory\ProductNavigationRequest</argument>
            <argument name="filterableAttributes" xsi:type="object">Magento\Catalog\Model\Layer\Category\FilterableAttributeList</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Catalog\Layer\NavigationContext\Search" type="Emico\Tweakwise\Model\Catalog\Layer\NavigationContext">
        <arguments>
            <argument name="requestFactory" xsi:type="object">Emico\Tweakwise\Model\Client\RequestFactory\ProductSearchRequest</argument>
            <argument name="filterableAttributes" xsi:type="object">Magento\Catalog\Model\Layer\Search\FilterableAttributeList</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Catalog\Layer\NavigationContext\Autocomplete" type="Emico\Tweakwise\Model\Catalog\Layer\NavigationContext">
        <arguments>
            <argument name="requestFactory" xsi:type="object">Emico\Tweakwise\Model\Client\RequestFactory\ProductSearchRequest</argument>
            <argument name="filterableAttributes" xsi:type="object">Emico\Tweakwise\Model\Catalog\Layer\FilterList\EmptyAttributeList</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Catalog\Product\Recommendation\Context\Product\Upsell" type="Emico\Tweakwise\Model\Catalog\Product\Recommendation\Context">
        <arguments>
            <argument name="client" xsi:type="object">Emico\Tweakwise\Model\Client</argument>
            <argument name="requestFactory" xsi:type="object">Emico\Tweakwise\Model\Client\RequestFactory\Recommendations\ProductRequest</argument>
            <argument name="collectionFactory" xsi:type="object">Emico\Tweakwise\Model\Catalog\Product\Recommendation\CollectionFactory</argument>
            <argument name="catalogConfig" xsi:type="object">Magento\Catalog\Model\Config</argument>
            <argument name="visibility" xsi:type="object">Magento\Catalog\Model\Product\Visibility</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Catalog\Product\Recommendation\Context\Product\Related" type="Emico\Tweakwise\Model\Catalog\Product\Recommendation\Context">
        <arguments>
            <argument name="client" xsi:type="object">Emico\Tweakwise\Model\Client</argument>
            <argument name="requestFactory" xsi:type="object">Emico\Tweakwise\Model\Client\RequestFactory\Recommendations\ProductRequest</argument>
            <argument name="collectionFactory" xsi:type="object">Emico\Tweakwise\Model\Catalog\Product\Recommendation\CollectionFactory</argument>
            <argument name="catalogConfig" xsi:type="object">Magento\Catalog\Model\Config</argument>
            <argument name="visibility" xsi:type="object">Magento\Catalog\Model\Product\Visibility</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Catalog\Product\Recommendation\Context\Featured" type="Emico\Tweakwise\Model\Catalog\Product\Recommendation\Context">
        <arguments>
            <argument name="client" xsi:type="object">Emico\Tweakwise\Model\Client</argument>
            <argument name="requestFactory" xsi:type="object">Emico\Tweakwise\Model\Client\RequestFactory\Recommendations\FeaturedRequest</argument>
            <argument name="collectionFactory" xsi:type="object">Emico\Tweakwise\Model\Catalog\Product\Recommendation\CollectionFactory</argument>
            <argument name="catalogConfig" xsi:type="object">Magento\Catalog\Model\Config</argument>
            <argument name="visibility" xsi:type="object">Magento\Catalog\Model\Product\Visibility</argument>
        </arguments>
    </virtualType>

    <preference for="Emico\Tweakwise\Model\Catalog\Layer\Url\UrlInterface" type="Emico\Tweakwise\Model\Catalog\Layer\Url\QueryParameters" />
    <type name="Emico\Tweakwise\Model\Catalog\Layer\Url">
        <arguments>
            <argument name="request" xsi:type="object">Magento\Framework\App\Request\Http</argument>
            <argument name="implementation" xsi:type="object">Emico\Tweakwise\Model\Catalog\Layer\Url\UrlInterface</argument>
        </arguments>
    </type>
    <type name="Emico\Tweakwise\Model\Config\Source\FilterTemplate">
        <arguments>
            <argument name="requestFactory" xsi:type="object">Emico\Tweakwise\Model\Client\RequestFactory\Catalog\TemplateRequest</argument>
            <argument name="client" xsi:type="object">Emico\Tweakwise\Model\Client</argument>
        </arguments>
    </type>

    <!-- TW blocks -->
    <virtualType name="Emico\Tweakwise\Block\TargetRule\Catalog\Product\ProductList\Plugin\Upsell" type="Emico\Tweakwise\Block\TargetRule\Catalog\Product\ProductList\Plugin">
        <arguments>
            <argument name="type" xsi:type="string">upsell</argument>
            <argument name="config" xsi:type="object">Emico\Tweakwise\Model\Config</argument>
            <argument name="registry" xsi:type="object">Magento\Framework\Registry</argument>
            <argument name="context" xsi:type="object">Emico\Tweakwise\Model\Catalog\Product\Recommendation\Context\Product\Upsell</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Block\TargetRule\Catalog\Product\ProductList\Plugin\Related" type="Emico\Tweakwise\Block\TargetRule\Catalog\Product\ProductList\Plugin">
        <arguments>
            <argument name="type" xsi:type="string">crosssell</argument>
            <argument name="config" xsi:type="object">Emico\Tweakwise\Model\Config</argument>
            <argument name="registry" xsi:type="object">Magento\Framework\Registry</argument>
            <argument name="context" xsi:type="object">Emico\Tweakwise\Model\Catalog\Product\Recommendation\Context\Product\Related</argument>
        </arguments>
    </virtualType>

    <type name="Emico\Tweakwise\Block\Catalog\Product\ProductList\Featured">
        <arguments>
            <argument name="productContext" xsi:type="object">Magento\Catalog\Block\Product\Context</argument>
            <argument name="postDataHelper" xsi:type="object">Magento\Framework\Data\Helper\PostHelper</argument>
            <argument name="layerResolver" xsi:type="object">Magento\Catalog\Model\Layer\Resolver</argument>
            <argument name="templateFinder" xsi:type="object">Emico\Tweakwise\Model\Config\TemplateFinder</argument>
            <argument name="categoryRepository" xsi:type="object">Magento\Catalog\Api\CategoryRepositoryInterface</argument>
            <argument name="urlHelper" xsi:type="object">Magento\Framework\Url\Helper\Data</argument>
            <argument name="recommendationsContext" xsi:type="object">Emico\Tweakwise\Model\Catalog\Product\Recommendation\Context\Featured</argument>
            <argument name="config" xsi:type="object">Emico\Tweakwise\Model\Config</argument>
        </arguments>
    </type>
    <type name="Emico\Tweakwise\Block\Catalog\Product\ProductList\Upsell\Plugin">
        <arguments>
            <argument name="config" xsi:type="object">Emico\Tweakwise\Model\Config</argument>
            <argument name="registry" xsi:type="object">Magento\Framework\Registry</argument>
            <argument name="context" xsi:type="object">Emico\Tweakwise\Model\Catalog\Product\Recommendation\Context\Product\Upsell</argument>
        </arguments>
    </type>
    <type name="Emico\Tweakwise\Block\Catalog\Product\ProductList\Related\Plugin">
        <arguments>
            <argument name="config" xsi:type="object">Emico\Tweakwise\Model\Config</argument>
            <argument name="registry" xsi:type="object">Magento\Framework\Registry</argument>
            <argument name="context" xsi:type="object">Emico\Tweakwise\Model\Catalog\Product\Recommendation\Context\Product\Related</argument>
        </arguments>
    </type>

    <!-- Tweakwise virtual collection provider types used in overrides of magento collection providers -->
    <virtualType name="Emico\Tweakwise\Model\Catalog\Layer\ItemCollectionProvider\Category" type="Emico\Tweakwise\Model\Catalog\Layer\ItemCollectionProvider">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Emico\Tweakwise\Model\Catalog\Product\CollectionFactory</argument>
            <argument name="originalProvider" xsi:type="object">Magento\CatalogSearch\Model\Layer\Category\ItemCollectionProvider</argument>
            <argument name="navigationContext" xsi:type="object">Emico\Tweakwise\Model\Catalog\Layer\NavigationContext\Category</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Catalog\Layer\ItemCollectionProvider\Search" type="Emico\Tweakwise\Model\Catalog\Layer\ItemCollectionProvider">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Emico\Tweakwise\Model\Catalog\Product\CollectionFactory</argument>
            <argument name="originalProvider" xsi:type="object">Magento\CatalogSearch\Model\Layer\Search\ItemCollectionProvider</argument>
            <argument name="navigationContext" xsi:type="object">Emico\Tweakwise\Model\Catalog\Layer\NavigationContext\Search</argument>
        </arguments>
    </virtualType>

    <!-- Override virtual types of magento to inject our product collection -->
    <virtualType name="Magento\CatalogSearch\Model\Layer\Search\Context">
        <arguments>
            <argument name="collectionProvider" xsi:type="object">Emico\Tweakwise\Model\Catalog\Layer\ItemCollectionProvider\Search</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\CatalogSearch\Model\Layer\Category\Context">
        <arguments>
            <argument name="collectionProvider" xsi:type="object">Emico\Tweakwise\Model\Catalog\Layer\ItemCollectionProvider\Category</argument>
        </arguments>
    </virtualType>

    <!-- Configuration models -->
    <type name="Emico\Tweakwise\Model\Config\Source\FilterTemplate">
        <arguments>
            <argument name="client" xsi:type="object">Emico\Tweakwise\Model\Client</argument>
            <argument name="requestFactory" xsi:type="object">Emico\Tweakwise\Model\Client\RequestFactory\Catalog\TemplateRequest</argument>
        </arguments>
    </type>

    <virtualType name="Emico\Tweakwise\Model\Config\Source\RecommendationOption\Product" type="Emico\Tweakwise\Model\Config\Source\RecommendationOption">
        <arguments>
            <argument name="client" xsi:type="object">Emico\Tweakwise\Model\Client</argument>
            <argument name="requestFactory" xsi:type="object">Emico\Tweakwise\Model\Client\RequestFactory\Catalog\Recommendation\ProductRequest</argument>
            <argument name="addCodeOption" xsi:type="boolean">true</argument>
            <argument name="addEmpty" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Config\Source\RecommendationOption\Product\System" type="Emico\Tweakwise\Model\Config\Source\RecommendationOption">
        <arguments>
            <argument name="client" xsi:type="object">Emico\Tweakwise\Model\Client</argument>
            <argument name="requestFactory" xsi:type="object">Emico\Tweakwise\Model\Client\RequestFactory\Catalog\Recommendation\ProductRequest</argument>
            <argument name="addCodeOption" xsi:type="boolean">true</argument>
            <argument name="addEmpty" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Config\Source\RecommendationOption\Featured" type="Emico\Tweakwise\Model\Config\Source\RecommendationOption">
        <arguments>
            <argument name="client" xsi:type="object">Emico\Tweakwise\Model\Client</argument>
            <argument name="requestFactory" xsi:type="object">Emico\Tweakwise\Model\Client\RequestFactory\Catalog\Recommendation\FeaturedRequest</argument>
        </arguments>
    </virtualType>

    <!-- Tweakwise virtual request factory types -->
    <virtualType name="Emico\Tweakwise\Model\Client\RequestFactory\ProductNavigationRequest" type="Emico\Tweakwise\Model\Client\RequestFactory">
        <arguments>
            <argument name="type" xsi:type="string">Emico\Tweakwise\Model\Client\Request\ProductNavigationRequest</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Client\RequestFactory\ProductSearchRequest" type="Emico\Tweakwise\Model\Client\RequestFactory">
        <arguments>
            <argument name="type" xsi:type="string">Emico\Tweakwise\Model\Client\Request\ProductSearchRequest</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Client\RequestFactory\AutocompleteRequest" type="Emico\Tweakwise\Model\Client\RequestFactory">
        <arguments>
            <argument name="type" xsi:type="string">Emico\Tweakwise\Model\Client\Request\AutocompleteRequest</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Client\RequestFactory\Catalog\TemplateRequest" type="Emico\Tweakwise\Model\Client\RequestFactory">
        <arguments>
            <argument name="type" xsi:type="string">Emico\Tweakwise\Model\Client\Request\Catalog\TemplateRequest</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Client\RequestFactory\Catalog\Recommendation\ProductRequest" type="Emico\Tweakwise\Model\Client\RequestFactory">
        <arguments>
            <argument name="type" xsi:type="string">Emico\Tweakwise\Model\Client\Request\Catalog\Recommendation\ProductRequest</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Client\RequestFactory\Catalog\Recommendation\FeaturedRequest" type="Emico\Tweakwise\Model\Client\RequestFactory">
        <arguments>
            <argument name="type" xsi:type="string">Emico\Tweakwise\Model\Client\Request\Catalog\Recommendation\FeaturedRequest</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Client\RequestFactory\Recommendations\ProductRequest" type="Emico\Tweakwise\Model\Client\RequestFactory">
        <arguments>
            <argument name="type" xsi:type="string">Emico\Tweakwise\Model\Client\Request\Recommendations\ProductRequest</argument>
        </arguments>
    </virtualType>
    <virtualType name="Emico\Tweakwise\Model\Client\RequestFactory\Recommendations\FeaturedRequest" type="Emico\Tweakwise\Model\Client\RequestFactory">
        <arguments>
            <argument name="type" xsi:type="string">Emico\Tweakwise\Model\Client\Request\Recommendations\FeaturedRequest</argument>
        </arguments>
    </virtualType>
</config>